

#project1 {
    background: url("../media/projects/project1.webp");
    background-size: cover;
}

#project2 {
    background: url("../media/projects/project2.webp");
    background-size: cover;
}

#project3 {
    background: url("../media/projects/project3.webp");
    background-size: cover;
}

#project4 {
    background: url("../media/projects/project4.webp");
    background-size: cover;
}

#project5 {
    background: url("../media/projects/project5.webp");
    background-size: cover;
}

#project6 {
    background: url("../media/projects/project6.webp");
    background-size: cover;
}

#project7 {
    background: url("../media/projects/project7.webp");
    background-size: cover;
}

#project8 {
    background: url("../media/projects/project8.webp");
    background-size: cover;
}

#project9 {
    background: url("../media/projects/project9.webp");
    background-size: cover;
}

#project10 {
    background: url("../media/projects/project10.webp");
    background-size: cover;
}

#project11 {
    background: url("../media/projects/project11.webp");
    background-size: cover;
}

#project12 {
    background: url("../media/projects/project12.webp");
    background-size: cover;
}

#project13 {
    background: url("../media/projects/project13.webp");
    background-size: cover;
}

#project14 {
    background: url("../media/projects/project14.webp");
    background-size: cover;
}

#project15 {
    background: url("../media/projects/project15.webp");
    background-size: cover;
}