#project1 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(71, 20%, 25%, 0.9), hsla(215, 44%, 25%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(71, 20%, 25%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project2 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(25, 45%, 36%, 0.9), hsla(268, 12%, 44%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(25, 45%, 36%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project3 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(36, 49%, 26%, 0.9), hsla(8, 35%, 72%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(36, 49%, 26%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project4 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsl(21, 43%, 56%, 0.9), hsla(332, 7%, 37%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(21, 43%, 56%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project5 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(107, 91%, 61%, 0.9), hsla(51, 83%, 76%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(107, 91%, 61%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project7 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(279, 94%, 40%, 0.9), hsla(133, 100%, 64%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(279, 83%, 76%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project8 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(97, 68%, 17%, 0.9), hsla(233, 25%, 59%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(97, 68%, 17%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project9 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(25, 45%, 36%, 0.9), hsla(268, 12%, 44%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(25, 22%, 44%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project10 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(209, 53%, 59%, 0.9), hsla(63, 96%, 68%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(209, 53%, 59%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project11 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(39, 12%, 29%, 0.9), hsla(327, 5%, 42%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(39, 12%, 29%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project12 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(147, 11%, 19%, 0.9), hsla(227, 40%, 76%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(147, 11%, 19%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#project15 > .projectArticleLeft > h1 {
    background: linear-gradient(1deg in oklab, hsla(353, 13%, 34%, 0.9), hsla(180, 3%, 32%, 0.9));
    filter: drop-shadow(2px 2px 1px hsla(353, 13%, 34%, 0.3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}